<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>TaskManager</title>
</head>

<body>
<h1>Your Profile</h1>
	<p> <a th:href="@{/home}">torna alla home</a></p>
    <table>
        <tr>
            <td>Username</td>
            <td th:text="${credentials.username}">...</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td th:text="${user.nome}">...</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td th:text="${user.cognome}">...</td>
        </tr>
        <tr>
            <td>Role</td>
            <td th:text="${credentials.role}">...</td>
        </tr>
        <tr>
            <td>Data Creation</td>
            <td th:text="${credentials.creationTimeStamp}">...</td>
        </tr>
        <tr>
            <td>Last Update</td>
            <td th:text="${credentials.lastUpdateCreationTimeStamp}">...</td>
        </tr>
        <tr>
            <h4></h4><a th:href="@{/modificaDati}">Aggiorna Dati </a></h4>
        </tr>
        
    </table>
    
</body>
</html>